html {
	font-family: 'Open Sans';
}

body {
  font-family: 'Open Sans';
  color: #5c6269;
}

h1 {
	font-weight: 600;
}

.bg-patpat {
	background-color: #0277bd !important;
}

.text-patpat {
	color: #0277bd !important;
}

.bg-patpat-dark {
	background-color: #004c8b !important;
}

.text-patpat-dark {
	color: #004c8b !important;
}

.slogan {
	/*font-size: 3rem;*/
	font-size: 8vmin;
	font-weight: 600;
	margin-bottom: 10vh;
}

.jumbotron span.socmed a {
	font-size: 5vmin;
	margin-right: 5px;
	text-decoration: none;
	color: inherit;
}

.jumbotron {
	padding-top: 3rem;
	padding-bottom: 3rem;
	margin-bottom: 0;
	background: url('../images/jumbotron/jumbotron.svg') center center fixed no-repeat; 
	background-size: cover; 
	/*padding: 2.5rem 1rem 0 1rem; */
	height: 100vh;
}

@media(max-width: 576px) {
	.jumbotron {
		height: 80vh;
	}
}

/*WORK SECTION*/
.work i.fa {
	font-size: 8rem;
}

.work img {
	opacity: 0.9;
}

.work .title {
	margin-top: 2rem;
}

.work p {
	padding-left: 0.7rem;
	padding-right: 0.7rem;
}

nav ul.navbar-nav li {
	font-size: 1.2rem;
	font-weight: 600;
}

/*PROJECTS SECTION*/

.project {
	background-color: #eee;
}

.project a {
	text-decoration: none;
}

.project-item {
	padding: 5rem 2rem 3rem 2rem;
}

.project-title {
	font-weight: 600;
}

.project-item span.badge {
	font-size: 90%;
	margin-right: 0.5rem;
	margin-top: 0.5rem;
}

.project-item p {
	opacity: 0.7;
}

.project-device {
	width: auto;
	height: 80vw;
}

@media(min-width: 768px) {
	.project-device {
		height: 450px;
	}
}

.testimonial {
	width: 85%;
	margin: auto;
	padding-top: 3rem;
	/*border-top: 1px solid #ccc;*/
	border-bottom: 1px solid #ccc;
}

.testimonial-text q {
	font-size: 1.3rem;
	font-weight: 600;
}

.testimonial-image {
	text-align: right;
}

.testimonial-image img {
	width: 35%;
}

@media(max-width: 767px) {
	.testimonial-image {
		margin-bottom: 1rem;
		text-align: center;
	}

	.testimonial-image img {
		width: 25%;
	}
}

/* TEAM SECTION */
.team span.badge {
	/*margin-bottom: 1rem;*/
}

.team .card-body h5 {
	color: black;
	font-weight: 600;
}

.team .card {
	margin-bottom: 1rem;
}

.team .card-footer a {
	color: grey;
	padding-right: 0.7rem;
	padding-left: 0.7rem;
}

.team i.fa {
	font-size: 1.4rem;
}

.team .card-body p {
	padding-top: 1rem;
}

/*CONTACT SECTION*/
.contact {
	color: white;
	background: #0277bd; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left top, #0277bd, #0483d0); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, #0277bd, #0483d0); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, #0277bd, #0483d0); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, #0277bd, #0483d0); /* Standard syntax */
}

.contact .btn-outline-light:hover {
	color: #0277bd;
}

/*FOOTER SECTION*/
.footer {
	background-color: #eee;
	/*background-color: #F9FDFB; */
	/*border-top: 1px solid #eaf8f1;*/
	/*font-size: 90%;*/
}

.footer h5 {
	color: black;
}