html {
	font-family: 'Open Sans';
}

body {
  font-family: 'Open Sans';
  color: #5c6269;
}

h1 {
	font-weight: 600;
}

.bg-patpat {
	background-color: #003c89 !important;
}

.text-patpat {
	color: #003c89 !important;
}

.slogan {
	font-size: 3rem;
	font-weight: 600;
	margin-bottom: 7rem;
}

.jumbotron span.socmed a {
	font-size: 1.8rem;
	margin-right: 5px;
	text-decoration: none;
	color: inherit;
}

/*WORK SECTION*/
.work i.fa {
	font-size: 8rem;
}

.work .title {
	margin-top: 2rem;
}

.work p {
	padding-left: 0.7rem;
	padding-right: 0.7rem;
}

nav ul.navbar-nav li {
	font-size: 1.2rem;
	font-weight: 600;
}

/*PROJECTS SECTION*/

.project {
	background-color: #eee;
}

.project-item {
	padding: 5rem 2rem 3rem 2rem;
}

.project-title {
	font-weight: 600;
}

.project-item span.badge {
	font-size: 90%;
	margin-right: 0.5rem;
	margin-top: 0.5rem;
}

.project-item p {
	opacity: 0.7;
}

.project-device {
	width: auto;
	height: 80vw;
}

@media(min-width: 768px) {
	.project-device {
		height: 450px;
	}
}

.testimonial {
	width: 85%;
	margin: auto;
	padding-top: 3rem;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.testimonial-text q {
	font-size: 1.3rem;
	font-weight: 600;
}

.testimonial-image {
	text-align: right;
}

.testimonial-image img {
	width: 35%;
}

@media(max-width: 767px) {
	.testimonial-image {
		margin-bottom: 1rem;
		text-align: center;
	}

	.testimonial-image img {
		width: 25%;
	}
}