html {
	font-family: 'Open Sans';
}

body {
  font-family: 'Open Sans';
  color: #5c6269;
}

h1 {
	font-weight: 600;
}

.bg-patpat {
	background-color: #003c89 !important;
}

.slogan {
	font-size: 3rem;
	font-weight: 600;
	margin-bottom: 7rem;
}

.jumbotron span.socmed a {
	font-size: 1.8rem;
	margin-right: 5px;
	text-decoration: none;
	color: inherit;
}

/*WORK SECTION*/
.work i.fa {
	font-size: 8rem;
}

.work .title {
	margin-top: 2rem;
}

.work p {
	padding-left: 0.7rem;
	padding-right: 0.7rem;
}

nav ul.navbar-nav li {
	font-size: 1.2rem;
	font-weight: 600;
}